<!-- Contact Us Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Need to get ahold of us?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Nexus Heights can be reached at <a href="mailto:nexusheights@gmail.com">nexusheights@gmail.com</a>, or any of the social media links below.</p>
                </div>
            </div>
        </div>
    </section>