<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">The services we offer as a company.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="row">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-apple fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Custom Apps</h4>
                    <p class="text-muted">Need an iOS app? Nexus Heights will design and develop an application to your specifications, and submit it to the Apple App Store on your behalf.</p>
                </div>
                <div class="row">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Website Design</h4>
                    <p class="text-muted">Want a nice looking, modern website like the one you're on right now? Nexus Heights will design you a clean, elegant website for your company.</p>
                </div>
            </div>
        </div>
    </section>